{% extends "base.html" %}
{% load static %}

{% block title %}FORM PENDAFTARAN ADMIN{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>FORM PENDAFTARAN ADMIN</h1>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url '' %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
    
            <div class="form-group row">

                <h4><label for = "{{form.email.id_for_label}}">email:</label></h4>
                {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
                </div>
                {% endif %}

                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                    {{form.email}}
                </div>

                <h4><label for = "{{form.password.id_for_label}}">Password:</label></h4>
                {% if form.password.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.password.errors }}
                </div>
                {% endif %}

                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                    {{form.Password}}
                </div>

                <h4><label for = "{{form.Nama.id_for_label}}">Nama:</label> </h4>
                {% if form.nama_lengkap.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nama_lengkap.errors }}
                </div>
                {% endif %}

                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                    {{form.nama_lengkap}}
                </div>

                <h4><label for = "form.Nomor.id_for_label">Nomor HP:</label></h4>
                {% if form.nomor_hp.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nomor_hp.errors }}
                </div>
                {% endif %}

                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                    {{form.nomor_hp}}
                </div>

            </div>

            <input class="btn btn-primary mb-5" type="submit" value="DAFTAR">
        </form>

    </div>
{% endblock %}
