{% extends "base.html" %}
{% load static %}

{% block title %}FORM PD ORGANISASI{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>FORM PENDAFTARAN PENGGALANG DANA ORGANISASI</h1>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'pengguna : pd_organisasi' %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group row">
                <h4>Nama Organisasi:</h4>
                {% if form.nama_organisasi.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nama_organisasi.errors }}
                </div>
                {% endif %}
               
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.nama_organisasi}}
                </div>

                <h4>Nomor Akta Pendirian:</h4>
                {% if form.nomor_akta_pendirian.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nomor_akta_pendirian.errors }}
                </div>
                {% endif %}
    
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.nomor_akta_pendirian}}
                </div>

                <h4>No. Telepon Organisasi:</h4>
                {% if form.no_telp_organisasi.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.no_telp_organisasi.errors }}
                </div>
                {% endif %}
    
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.no_telp_organisasi}}
                </div>

                <h4>Tahun Berdiri:</h4>
                {% if form.tahun_berdiri.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.tahun_berdiri.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.tahun_berdiri}}
                </div>

                <h4>Foto Akta Pendirian:</h4>
                {% if form.FotoAktaPendirian.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.FotoAktaPendirian.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.FotoAktaPendirian}}
                </div>

            </div>

            <input class="btn btn-primary mb-5" type="submit" value="DAFTAR">
        </form>

    </div>
{% endblock %}
