{% extends "base.html" %}
{% load static %}

{% block title %}FORM PENDAFTARAN ADMIN{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>FORM PENDAFTARAN ADMIN</h1>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url '' %}" method="POST">
            {% csrf_token %}

            <div class="form-group row">

                <h4>Email:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                </div>

                <h4>Password: </h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                </div>

                <h4>Nama:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                </div>

                <h4>Nomor HP:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                </div>

            </div>

            <input class="btn btn-primary" type="submit" value="DAFTAR">
        </form>

    </div>
{% endblock %}
