{% extends "base.html" %}
{% load static %}

{% block title %}FORM PD INDIVIDU{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>FORM PENDAFTARAN PENGGALANG DANA INDIVIDU</h1>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'pengguna : pd_individu' %}" method="POST">
            {% csrf_token %}
          
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="form-group row">
                <h4>NIK:</h4>
                {% if form.nik.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nik.errors }}
                </div>
                {% endif %}
               
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.nik}}
                </div>

                <h4>Tanggal Lahir:</h4>
                {% if form.tanggal_lahir.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.Tanggal_lahir.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.tanggal_lahir}}
                </div>

                <h4>Jenis Kelamin:</h4>
                {% if form.jenis_jelamin.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.jenis_kelamin.errors }}
                </div>
                {% endif %}

                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.Jenis_Kelamin}}
                </div>

                <h4>Foto KTP:</h4>
                {% if form.FotoKTP.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.FotoKTP.errors }}
                </div>
                {% endif %}
                
                <div class="input-group mb-4">
                    <!-- <input class="form-control" type="text" aria-label="default input example" required> -->
                    {{form.FotoKTP}}
                </div>

            </div>

            <input class="btn btn-primary mb-5" type="submit" value="DAFTAR">
        </form>

    </div>
{% endblock %}
