{% extends "base.html" %}
{% load static %}

{% block title %}CREATE KOMORBID{% endblock %}

{% block content %}
      <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Form Penyakit Komorbid</h1>
        <h3>Informasi Penyakit Komorbid</h3>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'trigger_dua:create_komorbid' %}" method="POST">
            {% csrf_token %}
            <h4>ID Penggalangan Dana:</h4>
            <select id="pdk" name="pdk" value="{{request.POST.pdk}}" class="form-control" required>
                <option value="" selected>Pilih ID Penggalangan Dana</option>
                {% for idpd in pdk %}
                <option value={{idpd.0}}>{{idpd.0}}</option>
                {% endfor %}
            </select>

            <br>
            <br>

            <h4>Komorbid:</h4>
            <div class="input-group mb-3">
                <input class="form-control" type="text" aria-label="default input example" name="komorbid" value="{{request.POST.komorbid}}" required>
            </div>
            <br>
            <input class="btn btn-primary mb-5" type="submit" value="CREATE">
        </form>
    </div>
{% endblock %}
