{% extends "base.html" %}
{% load static %}

{% block title %}FORM RUMAH IBADAH{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Form Rumah Ibadah</h1>
        <hr>
        <h4>Informasi Rumah Ibadah</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'trigger_dua:form_rumah_ibadah' %}" method="POST">
            {% csrf_token %}

            <div class="form-group row">

                <h4>Nomor Sertifikat:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" name="no_sertif" value="{{request.POST.no_sertif}}"  required>
                </div>

                <h4>Nama: </h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" name="nama" value="{{request.POST.nama}}" required>
                </div>

                <h4>Alamat:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" name="alamat" value="{{request.POST.alamat}}" required>
                </div>

                <h4>Jenis:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" name="jenis" value="{{request.POST.jenis}}"  required>
                </div>

            </div>

            <input class="btn btn-primary mb-5" type="submit" value="NEXT">
        </form>

    </div>
{% endblock %}
