{% extends "base.html" %}
{% load static %}

{% block title %}KOMORBID{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Halaman Kelola Penyakit Komorbid</h1>
        <h3>BisaBersama</h3>
    </div>

    {% if request.session.role == 'PENGGALANG_DANA' %}
    <div class="container justify-content text-right mb-4">
        <a href="./create/" class="btn btn-primary btn active" role="button" aria-pressed="true">Tambah Penyakit Komorbid Baru</a>
    </div>
    {% endif %}

    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-bordered table-responsive-xl" align="center">
            <thead class="thead-light">
                <th><center>ID</center></th>
                <th><center>Judul</center></th>
                <th><center>Penyakit Utama</center></th>
                <th><center>Penyakit Komorbid</center></th>
                {% if request.session.role == 'PENGGALANG_DANA' %}
                <th><center>Action</center></th>
                {% endif %}
            </thead>
            {% for row in data %}
                <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.judul }}</td>
                <td>{{ row.penyakit }}</td>
                <td>{{ row.komorbid }}</td>
                    {% if request.session.role == 'PENGGALANG_DANA' %}
                <td>
                    <form action="{% url 'trigger_dua:update_komorbid' row.id row.penyakit %}" method="get">
                        <input type="hidden" id="id_u" name="id_u">
                        <input type="submit" class="btn btn-success btn-sm" value="Update">
                    </form>

                    <form action="{% url 'trigger_dua:delete_komorbid' row.id row.komorbid %}" method="get">
                        <input type="hidden" id="id_d" name="id_d">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
