{% extends "base.html" %}
{% load static %}

{% block title %}UPDATE KOMORBID{% endblock %}

{% block content %}
      <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Form Update Penyakit Komorbid</h1>
        <h3>Informasi Penyakit Komorbid</h3>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'trigger_dua:update_komorbid' %}" method="post">
            <h4>ID Penggalangan Dana:</h4>
            <div class="input-group mb-3">
                <input class="form-control" type="text" value="K-001" aria-label="Disabled input example" disabled readonly>
            </div>

            <br>

            <h4>Nama Penyakit:</h4>
            <div class="input-group mb-3">
                <input class="form-control" type="text" value="Pusing Kepala" aria-label="default input example" required>
            </div>
            <br>

            <input class="btn btn-primary" type="submit" value="UPDATE">
        </form>
    </div>
{% endblock %}
