{% extends "base.html" %}
{% load static %}

{% block title %}Data Donasi Penggalangan Dana{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Data Donasi Penggalangan Dana</h1>
        <h3>BisaBersama</h3>
    </div>


    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-bordered table-responsive-xl" align="center">
            <thead class="thead-light">
                <th><center>ID</center></th>
                <th><center>Judul</center></th>
                <th><center>Kategori</center></th>
                <th><center>Status Pembayaran</center></th>
                <th><center>Action</center></th>

            </thead>
                {% for row in isi %}
                <tr>
                <td>{{row.idPD}}</td>
                <td>{{row.judul}}</td>
                <td>{{row.nama_kategori}}</td>
                <td>{{row.status}}</td>
                <td>
                    <form action="{% url 'trigger_empat:read_detail_donasi' %}" method="get">
                        <input type="hidden" id="id_de" name="id_de" value = {{row.idPD}} >
                        <input type="submit" class="btn btn-success btn-sm" value="Detail">
                    </form>

                    <form action="" method="get">
                        <input type="hidden" id="id_d" name="id_d">
                        <input type="submit" class="btn btn-danger btn-sm" value="Lihat Bukti">
                    </form>
                </td>
                </tr>
                {% endfor %}
                
        </table>
    </div>
{% endblock %}
