{% extends "base.html" %}
{% load static %}

{% block title %}FORM PASIEN{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Login</h1>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'login:login' %}" method="POST">
            {% csrf_token %}

            <div class="form-group row">

                <h4>Email:</h4>
                <div class="input-group mb-4">
                    {{ form.email }}
                </div>

                <h4>Password: </h4>
                <div class="input-group mb-4">
                    {{ form.password }}
                </div>

            </div>
            
            <input class="btn btn-primary mb-5"  type="submit" value="Login">
        </form>

    </div>
{% endblock %}
