{% extends "base.html" %}
{% load static %}

{% block title %}FORM VERIFIKASI PENGGALANGAN DANA{% endblock %}

{% block content %}
    <div class='bg-primary jumbotron justify-content-center text-white' align="center">
        <h1>Form Verifikasi Penggalangan Dana</h1>
        <!-- <hr>
        <h4>Identitas Pasien</h4> -->
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'trigger_tiga:daftar-afterverif-penggalangan-dana-admin' %}" method="POST">
            {% csrf_token %}

            <div class="form-group row">

                <h4>Catatan Pengajuan:</h4>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" aria-label="default input example" required>
                </div>

            </div>
            
            <a class="btn btn-danger mb-5" href="/trigger_tiga/daftar-penggalangan-dana-admin" role="button">TOLAK VERIFIKASI</a>
            <input class="btn btn-success mb-5" type="submit" value="VERIFIKASI">

            <!-- <input class="btn btn-danger mb-5" type="submit" value="TOLAK VERIFIKASI"> -->

            <!-- <form action="{% url 'trigger_tiga:daftar-penggalangan-dana-admin' %}" method="get">
                <input type="hidden" id="id_u" name="id_u">
                <input type="submit" class="btn btn-warning btn-sm" value="TOLAK VERIFIAKASI">
            </form> -->
        </form>

    </div>
{% endblock %}
