<nav style="background-color:#03045e" class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex mr-auto">
        <a class="navbar-brand text-white" href="{% url '' %}">
            <i class="d-inline-block align-center fa fa-heart text-white"></i>
            BisaSesama
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav justify-content-start">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Penggalangan Dana
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " href="{% url 'trigger_dua:form_kategori' %}">Buat Penggalangan Dana</a>
            <a class="dropdown-item " href="{% url 'trigger_tiga:daftar-penggalangan-dana-admin' %}">Daftar Penggalangan Dana - Admin</a>
            <a class="dropdown-item " href="{% url 'trigger_empat:read_halaman_penggalangan_dana' %}">Daftar Penggalangan Dana - Pengguna</a>
            <a class="dropdown-item " href="{% url 'trigger_dua:read_komorbid' %}">Kelola Penyakit Komorbid</a>

        </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Data Penggalang Dana
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " href="{% url 'trigger_dua:read_pdd_pribadi' %}">Daftar Penggalangan Dana Pribadi</a>
        </div>
        </li>
        
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Donasi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item " href="{% url 'trigger_empat:read_donasi' %}">Daftar Donasi</a>
            </div>
        </li>


        </ul>
        </div>
        <a class="navbar-brand text-white" href="{% url 'login:login' %}">
            <i class="d-inline-block align-center fa text-white"></i>
            Login
        </a>
    </div>
</nav>
